<mat-toolbar color="primary">
  <a [routerLink]="['/']" >MyMessages</a>
  <div class="spacer"></div>
  <ul>
    <li>
      <a mat-button [routerLink]="['/create']" routerLinkActive="accent">New post</a>
    </li>
  </ul>
</mat-toolbar>
