mat-form-field,
textarea {
  width: 100%;
}

textarea {
  min-height: 12.5rem;
}

mat-spinner {
  margin: 1rem auto;
}

input[type="file"] {
  visibility: hidden;
}

button {
  margin: 1rem 0;
}

.image-preview {
  display: block;
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.image-preview img {
  width: 100%;
}