<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card *ngIf="!isLoading">
  <form (submit)="onSavePost()" [formGroup]="postForm">
    <mat-form-field>
      <input matInput type="text" formControlName="title" placeholder="Post Title">
      <mat-error *ngIf="postForm.get('title').invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <div>
      <button type="button" mat-stroked-button (click)="filePicker.click()">Pick image</button>
      <input type="file" (change)="onImagePicked($event)" #filePicker>
    </div>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && postForm.get('image').valid">
      <img [src]="imagePreview" [alt]="postForm.value.title">
    </div>
    <mat-form-field>
      <textarea matInput formControlName="content" placeholder="Post Content"></textarea>
      <mat-error *ngIf="postForm.get('content').invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Save Post</button>
  </form>
</mat-card>