<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="!isLoading && posts.length > 0">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{ post.title }}
    </mat-expansion-panel-header>
    <div class="post-image" *ngIf="post.imagePath">
      <img [src]="post.imagePath" [title]="post.title">
    </div>
    <p>{{ post.content }}</p>
    <mat-action-row>
      <button mat-button color="primary" [routerLink]="['/edit', post.guid]" routerLinkActive="router-link-active" >EDIT</button>
      <button mat-button color="warn" (click)="onDeletePost(post.guid)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="!isLoading && posts.length <= 0">No posts added yet!</p>
